body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
div.box{
    background-color: black;
    line-height: 6px;
    width: 98%;
    color: white;
    padding: 14px;
}
h1{
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 20px;
}
@media(max-width: 767px){
    h1{
        font-size: 20px;
    }
    div.box{
        line-height: 20px;
        max-width: 100%;
        width: 95%;
    }
}
